content/ignition.md5 filter=lfs diff=lfs merge=lfs -text
content/kube_v1.11.3.ign filter=lfs diff=lfs merge=lfs -text
content/sdn_v1.0.1.ign filter=lfs diff=lfs merge=lfs -text
content/winnodeman.exe filter=lfs diff=lfs merge=lfs -text
content/prewin1809_v1.0.ign filter=lfs diff=lfs merge=lfs -text
content/winnodeman.version filter=lfs diff=lfs merge=lfs -text
content/cni_0.3.1.ign filter=lfs diff=lfs merge=lfs -text
content/docker_v1.0.1.ign filter=lfs diff=lfs merge=lfs -text
content/node_1.0.1.ign filter=lfs diff=lfs merge=lfs -text
content/ovn_16e1a3cf.ign filter=lfs diff=lfs merge=lfs -text
content/ovs_2.70beta.ign filter=lfs diff=lfs merge=lfs -text
templates/base.template filter=lfs diff=lfs merge=lfs -text
templates/win10.0.17763.template filter=lfs diff=lfs merge=lfs -text
templates/windefault.template filter=lfs diff=lfs merge=lfs -text
